
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Loecation</title>
    <meta name="description" content="Where are all the Loes?">
    <meta name="author" content="W. Andrew Loe III">
  </head>

  <body>
    <h1>Loecation</h1>
  </body>
</html>

